<div>
    <div id="map-container" style="height: {{ .Get "height" }}px"></div>
</div>
<script>
    (function (container) {
        const osmLayer = new ol.layer.Tile({
            className: 'ol-osm-layer',
            source: new ol.source.OSM(),
        });

        const rasterLayer = new ol.layer.Tile({
            source: new ol.source.XYZ({
                attributions: '© SecretSpot',
                url: 'https://tiles.secret-spot-by.com/latest/raster/base/{z}/{x}/{y}.png',
                maxZoom: 14,
            }),
        });

        const map = new ol.Map({
            controls: ol.control.defaults.defaults().extend([new ol.control.FullScreen()]),
            layers: [
                osmLayer,
                rasterLayer,
            ],
            target: container,
            view: new ol.View({
                center: ol.proj.fromLonLat([27.95, 53.70]),
                zoom: 6,
            }),
        });

    })(document.getElementById('map-container'));
</script>
